body{
    background-color: #630051;
    color:aliceblue;
}


h1{
    border-bottom: 3px solid rgb(255, 255, 255);
}

.casita{
    display: block;
    margin-left: 17px;
}
.recibo{
    display: block;
    margin-left: 380px;
    margin-top: -365px;
}