{% extends 'base.html.twig' %}
{% block title %}Bienvenido{% endblock %}
	{% block body %}
    <h1>Registro de tiendas</h1>
	<h2>Bienvenido a la web de tiendas.</h2>
	<p>Página de inicio</p>
	<img src="/img/1uno.png" height="250" widht="250"/>

    {% endblock %}

