<html>
    <head>
        <title>Tienda Eliminada</title>
        <style>
        body {
            background-color: #630051;
            
}
        .mensaje {
            font-size: 20px;
            color: white;
            margin-left: 110px;
            margin-top: 25px;
            
                       
                    }
                    
                    .eli{
                        margin-left: -70px;
                        
                    }
                </style>
            </head>
            <body><strong>
                <div class='mensaje'>Tienda eliminada</div></strong>
                    <img src="/img/elimi.png" class="eli" height="367" widht="576"/>

            </body>
            </html>